
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

@if (Model.Count == 0)
{
    <p>No orders found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Order Address</th>
                <th>Order Date</th>
                <th>Total Cost</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.Address</td>
                    <td>@order.OrderDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@order.TotalCost.ToString("C")</td>
                </tr>
            }
        </tbody>
    </table>
}
